<!--<div>
    <label>Name:</label>
<input type="text" value="{{currentuser.name}}"/>
</div>
<div>
    <label>User Name:</label>
<input type="text" value="{{currentuser.username}}"/>

</div>
<div>
    <label>Email:</label>
<input type="text" value="{{currentuser.email}}"/>

</div>
<div>
    <label>Phone-No:</label>
<input type="text" value="{{currentuser.phone}}"/>

</div>
<div>
    <label>Website:</label>
<input type="text" value="{{currentuser.website}}"/>
</div>-->
<div class="col-md-6 mt-5">
    <div class="card text-center">
        <div class="card-header">
          {{currentuser.id}}
        </div>
        <div class="card-body">
          <h5 class="card-title"> {{currentuser.name}}</h5>
          <p class="card-text"> {{currentuser.email}}</p>
        </div>
        <div class="card-footer text-muted">
         {{currentuser.website}}
        </div>
</div>
</div>
